//
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

// general 

.container{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
// content


// ****************************** HEADER **************************
header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
          img{
            max-width: 78px;
          }
        }
    
        .nav-bar{
            display: flex;
            font-size: 14px;
            justify-content: space-between;
            width: 75%;
            height: 100px;
            line-height: 100px;
            .nav-link{
                    a{
                        color: black;
                        
                    }
                    &:hover{
                    border-bottom: 3px solid rgb(2, 130, 249);
                    
                    cursor: pointer;
                    a{
                        color: rgb(2, 130, 249);
                    }
                    }
                    
            }
        }
      }
}

.jumbotron{
  height: 280px;
  background-image: url('../../public/images/jumbotron.jpg');
  background-size: cover;
}



// ********************************* MAIN *************************************


.central-page{
  background-color: rgb(46, 46, 46);
  padding: 50px 0px;
  .container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 20px;
  .card{
    width: 16%;

    h5{
        color: white;
        font-size: 16px;
        margin: 5px 0px;
    }

    img{
        width: 85%;
        &:hover{
            filter: brightness(1.3);
            cursor: pointer;
        }
    }

    p{
        font-size: 15px;
        color: gray;
        font-weight: 600;
    }
}
}

#load-more{
  text-align: center;
  button{
    background-color: #0282f9;
    font-size: 14px;
    padding: 10px;
    color: white;
    border: none;
    &:hover{
      background-color: rgb(104, 104, 104);
      cursor: pointer;
    }
  }
}
}




// ********************************* FOOTER *************************************
footer{
    #links-footer{
        padding: 50px 0px;
        
        background-image: url('../../public/images/footer-bg.jpg');
        .container{
          display: flex;
          .links-box{
            display: flex;
            width: 46%;
            flex-wrap: wrap;
            .links-item{
              width: calc(100% / 3);
              p{
                font-size: 18px;
                color: white;
              }
              ul{
                line-height: 20px;
                li{
                  a{
                    text-decoration: none;
                    color: gray;
                    font-size: 14px;
                    &:hover{
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    
    
    
      #bottom-footer{
        padding: 25px 0px;
        background-color: #303030;
        .container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .subsribe-button{
            button{
              background-color: transparent;
              border: 2px solid #0282f9;
              font-size: 14px;
              padding: 10px;
              color: white;
              &:hover{
                background-color: rgb(104, 104, 104);
                cursor: pointer;
              }
            }
          }
          .social-networks{
            display: flex;
            align-items: center;
            column-gap: 10px;
            .follow-us{
              p{
                color: #1277eb;
              }
            }
            .social-icons{
              display: flex;
              column-gap: 5px;
              .social-button{
                img{
                  width: 85%;
                  &:hover{
                    cursor: pointer;
                    width: 90%;
                  }
                }
              }
            }
          }
        }
      }
    
}

