* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img {
  max-width: 78px;
}

header .container .nav-bar {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  width: 75%;
  height: 100px;
  line-height: 100px;
}

header .container .nav-bar .nav-link a {
  color: black;
}

header .container .nav-bar .nav-link:hover {
  border-bottom: 3px solid rgb(2, 130, 249);
  cursor: pointer;
}

header .container .nav-bar .nav-link:hover a {
  color: rgb(2, 130, 249);
}

.jumbotron {
  height: 280px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

.central-page {
  background-color: rgb(46, 46, 46);
  padding: 50px 0px;
}

.central-page .container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 20px;
}

.central-page .container .card {
  width: 16%;
}

.central-page .container .card h5 {
  color: white;
  font-size: 16px;
  margin: 5px 0px;
}

.central-page .container .card img {
  width: 85%;
}

.central-page .container .card img:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.central-page .container .card p {
  font-size: 15px;
  color: gray;
  font-weight: 600;
}

.central-page #load-more {
  text-align: center;
}

.central-page #load-more button {
  background-color: #0282f9;
  font-size: 14px;
  padding: 10px;
  color: white;
  border: none;
}

.central-page #load-more button:hover {
  background-color: rgb(104, 104, 104);
  cursor: pointer;
}

footer #links-footer {
  padding: 50px 0px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

footer #links-footer .container {
  display: flex;
}

footer #links-footer .container .links-box {
  display: flex;
  width: 46%;
  flex-wrap: wrap;
}

footer #links-footer .container .links-box .links-item {
  width: 33.3333333333%;
}

footer #links-footer .container .links-box .links-item p {
  font-size: 18px;
  color: white;
}

footer #links-footer .container .links-box .links-item ul {
  line-height: 20px;
}

footer #links-footer .container .links-box .links-item ul li a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

footer #links-footer .container .links-box .links-item ul li a:hover {
  color: white;
}

footer #bottom-footer {
  padding: 25px 0px;
  background-color: #303030;
}

footer #bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #bottom-footer .container .subsribe-button button {
  background-color: transparent;
  border: 2px solid #0282f9;
  font-size: 14px;
  padding: 10px;
  color: white;
}

footer #bottom-footer .container .subsribe-button button:hover {
  background-color: rgb(104, 104, 104);
  cursor: pointer;
}

footer #bottom-footer .container .social-networks {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

footer #bottom-footer .container .social-networks .follow-us p {
  color: #1277eb;
}

footer #bottom-footer .container .social-networks .social-icons {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

footer #bottom-footer .container .social-networks .social-icons .social-button img {
  width: 85%;
}

footer #bottom-footer .container .social-networks .social-icons .social-button img:hover {
  cursor: pointer;
  width: 90%;
}

